/* Error: expected "{".
 *    ,
 * 13 |         margin-bottom: 40%;
 *    |                           ^
 *    '
 *   scss\styles.scss 13:27  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 13 \2502          margin-bottom: 40%;\d\a    \2502                            ^\a    \2575 \a   scss\\styles.scss 13:27  root stylesheet';
}
