body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*headers*/
#menu1{
    transition: 1s;
    h2{ 
        position: fixed;
        margin-bottom: 40%;
        transition: 3s;
        color: transparent;
        margin-left: 2rem;
    }
    #cero{
        transition: 2s;
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: #00000047;
        width: 7rem;
        height: 3rem;
        text-align: end;
        justify-content: center;
        margin-left: -2rem;
        border-radius: 2rem;
        p{
            color: white;
            margin: 0;
            padding: 1rem;
        }
    }
    .acces{
        transition: 2s;
        text-decoration: none;
        a{
            transition: 0.2s;
            color: transparent;
            text-decoration: none;
        }
        
    }
    #uno{
        margin-top: 10rem;
    }
    
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    background-image: linear-gradient(to right, black 5%, transparent 95%);
    height: 100%;
    padding: 0.1rem;
    width: 1rem;
    /*Desktops*/
    @media screen and (max-width:600px){
        h2{display: none;}
    }

    @media screen and (min-width:1025px) and (max-width:1200px){
            display: none;
    }

    @media screen and (min-width:1201px){
            display: none;
    }
}

#menu1:hover{
    transition: 1s;
    h2{
        transition: 1s;
        margin-left: 0;
        color: white;
    }
    #cero{
        transition: 2s;
        display: none;
    }
    .acces{
        display:block;
        a{
            transition: 3s;
            transition-delay: 1s;
            color: white;
        }
    }
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    background-color: #0000006e;
    height: 100%;
    padding: 1rem;
    width: 14rem;
}

header{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, black 75%, white);
    color: beige;
    padding: 1rem;
    padding-bottom: 2rem;
    padding-left: 2rem;

    .headerDivTitulo{
        text-align: left;
        font-weight: bold;
        #botonesDeAcceso{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 1rem;
            #titulo1{
                margin-right: auto;
            }
    
            .acces{
                transition: 3s;
                display: flex;
                flex-direction: column;
                margin-left: 1rem;
                margin-right: 1rem;
                transition: 3s;
                width: 1rem;
                height: 3rem;
                background-color: #ffffff;
                border-radius: 2rem;
                justify-content: center;
                text-align: center;
                a{
                    color: transparent;
                    transition: .5s;
                    text-decoration: none;
                    
                }
                
            }
            .acces:hover{
                transition: 3s;
                display: flex;
                flex-direction: column;
                margin-left: 1rem;
                margin-right: 1rem;
                transition: 1s;
                width: 20%;
                height: 3rem;
                border-radius: 2rem;
                justify-content: center;
                text-align: center;
                a{
                    color: transparent;
                    transition: 1s;
                    color: white;
                    transition-delay: 1s;
                }
            }
            #uno:hover{
                background-color: #4119d3;
            }
            #dos:hover{
                background-color: #09ee28;
            }
            #tres:hover{
                background-color: #fbff00;
                a{
                    color: gray;
                }
            }
            #cuatro:hover{
                background-color: #ff3c00;
            }
        }
    }
    
    .headerDivDispositivos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 100%;
        p{
            margin-left: 1rem;
        }
    }
    
    .headerDivTexto{
        text-align: left;
        padding-bottom: 2rem;
        h2{
            font-size: medium;
            margin-block-end: 0;
        }
        spam{
            font-weight: bold;
        }
    }
    
    /*Movil devices*/
    @media screen and (max-width:600px){
        .indexMain{
            padding-left: 2rem;
        }
        .headerDivTitulo{
            text-align: center;
            #botonesDeAcceso{
                display: none;
            }
        }
        #disp2,#disp3,#disp4,#disp5{
            display: none;
        }
    }

    /*Ipad/tablets*/
    @media screen and (min-width:601px) and (max-width:800px){
        .indexMain{
            padding-left: 2rem;
        }
        .headerDivTitulo{
            #botonesDeAcceso{
                display: none;
            }
        }
        #disp1,#disp3,#disp4,#disp5{
            display: none;
        }
    }

    /*Small screens/Laptops*/
    @media screen and (min-width:801px) and (max-width:1024px){
        .indexMain{
            padding-left: 2rem;
        }
        .headerDivTitulo{
            #botonesDeAcceso{
                display: none;
            }
        }
        #disp1,#disp2,#disp4,#disp5{
            display: none;
        }

    }
    /*Desktops*/
    @media screen and (min-width:1025px) and (max-width:1200px){
        #disp1,#disp2,#disp3,#disp5,#menu1{
            display: none;
        }
        .headerDivTitulo{
            #titulo2{
                display: none;
            }
            #botonesDeAcceso{
                #titulo1{
                    font-size: 1.8rem;
                }
                .acces{
                    margin-right: 0;
                    margin-left: 1rem;
                }
                div{
                    margin-left: 1rem;
                    h2{
                        font-size: 1.2rem;
                    }
                }
            }
        }
        }
    }

    @media screen and (min-width:1201px){
        #disp1,#disp2,#disp3,#disp4,#menu1{
            display: none;
        }
        .headerDivTitulo{
            #titulo2{
                display: none;
            }
            #botonesDeAcceso{
                .acces{
                    margin-right: 0;
                    margin-left: 0.5rem;
                }
            }
        }
    }

/*header con grid*/
#headerSobreNos{
    display: grid;
    grid-template-areas: 
        "titulo img"
        "texto img";
    .headerDivTitulo{
        grid-area: titulo;
    }
    .headerDivTexto{
        grid-area: texto;
    }
    .headerDivImg{
        grid-area: img;
    }
    @media screen and (max-width:600px){
        .headerDivImg{
            display: none;
        }
    }
    @media screen and (min-width:601px) and (max-width:800px){
        .headerDivImg{
            display: none;
        }
    }
}

/*mains*/
.indexMain{
    padding: 1rem;
    display:flex;
    flex-direction: column;
    
    #navIndex{
        .divNavIndexUno{
            display: flex;
            flex-direction: row;
            div{ 
                width: 70%;
                margin: 1rem;
                spam{
                    font-weight: bold;
                }
                div{
                    margin: 1rem;
                    width: auto;
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                    margin-top: 3rem;
                }
            }
            .imgIndex{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 30%;
            }
        }
        .divNavIndexDos{
            display: flex;
            flex-direction: row-reverse;
            div{
                width: 70%;
                margin: 1rem;
                spam{
                    font-weight: bold;
                }
                div{
                    margin: 1rem;
                    width: auto;
                    display: flex;
                    justify-content: center;
                    flex-direction: row;
                    margin-top: 3rem;
                }
            }
            .imgIndex{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 30%;
            }
        }
    }
    @media screen and (max-width:600px){
        #headerSobreNos{
            .headerDivImg{
                display: none;
            }
        }
        h3{
            text-align: center;
            font-size: 0.95rem;
        }
        #navIndex{
            font-size: 0.9rem;
            text-align: center;
            .divNavIndexUno{
                flex-direction: column;
                align-items: center;
                div{
                    width: auto;
                }
                div{
                    width: auto;
                }
            }
            .divNavIndexDos{
                flex-direction: column;
                align-items: center;
                div{
                    width: auto;
                }
                div{
                    width: auto;
                }
            }
        }

    }
    @media screen and (min-width:601px) and (max-width:800px){
        .Img{
            display: none;
        }
    }
    @media screen and (min-width:801px) and (max-width:1024px){
        .Img-p{
            display: none;
        }
    }
    @media screen and (min-width:1025px) and (max-width:1200px){
        .Img-p{
            display: none;
        }
    }
    @media screen and (min-width:1201px){
        .Img-p{
            display: none;
        }
    }
}

/*servicios*/
.serviciosMain{
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 1rem;
    gap: 1rem;
    grid-template-columns: 35% 30% 35%;
    grid-template-areas: 
    "d1 d1 d2"
    "d4 d3 d3"
    "d5 d5 d6"
    "d8 d7 d7"
    "d9 d9 d9";

    .divServMain{
        align-items: center;
        margin: 1rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        }
    #uno{
            grid-area: d1;
            text-align: right;
        }
    #dos{
            grid-area: d2;
        }
    #tres{
            grid-area: d3;
        }
    #cuatro{
            grid-area: d4;
        }
    #cinco{
            grid-area: d5;
            text-align: right;
        }
    #seis{
            grid-area: d6;
        }
    #siete{
            grid-area: d7;
        }
    #ocho{
            grid-area: d8;
        }
    #nueve{
            grid-area: d9;
            margin-top: 2rem;
            margin-bottom: 2rem;
            width: 10rem;
            a{
                color: white;
                text-decoration: none;
            }
        }
    @media screen and (max-width:600px){
        display: flex;
        flex-direction: column;
        h3{
            text-align: center;
        }
        p{
            text-align: justify;
        }
        }

    @media screen and (min-width:601px) and (max-width:800px){
        display: flex;
        flex-direction: column;
        h3{
            text-align: center;
        }
        p{
            text-align: justify;
        }
        }
        
    @media screen and (min-width:801px) and (max-width:1024px){

    }
    @media screen and (min-width:1025px) and (max-width:1200px){

    }
    @media screen and (min-width:1201px){

    }
}


/*Trabajos*/
.trabajosMain{
    display: grid;
    margin: 1rem;
    gap: 1rem;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3,auto);
    grid-template-areas: 
    "divUno divDos divDos"
    "divTres divTres divCuatro"
    "volver volver volver";
    .divMainTrabajos{
        margin: 1rem;   
    }
    #divUno{
        grid-area: divUno;
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: right;
        margin-right: 0;
    }
    #divDos{
        grid-area: divDos;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #divTres{
        grid-area: divTres;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #divCuatro{
        grid-area: divCuatro;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-left: 0;
    }
    #Volver{
        grid-area: volver;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 10rem;
            a{
                color: white;
                text-decoration: none;
            }
    }
    
    @media screen and (max-width:600px){
        grid-template-columns: 100%;
        grid-template-rows: repeat(5, auto);
        grid-template-areas:
        "divUno"
        "divDos"
        "divCuatro"
        "divTres"
        "volver";
        text-align: center;
        .divMainTrabajos{
            h2{
                text-align: center;
            }
            p{
                text-align: justify;
            }
            p{
                text-align: justify;
            }
            iframe{
                width: 100%;
            }
        }
    }
    @media screen and (min-width:601px) and (max-width:800px){
        grid-template-columns: 100%;
        grid-template-rows: repeat(5, auto);
        grid-template-areas:
        "divUno"
        "divDos"
        "divCuatro"
        "divTres"
        "volver";
        text-align: center;
        .divMainTrabajos{
            h2{
                text-align: center;
            }
            p{
                text-align: justify;
            }
            p{
                text-align: justify;
            }
            iframe{
                width: 100%;
            }
        }
    }
    @media screen and (min-width:801px) and (max-width:1024px){
        grid-template-columns: 100%;
        grid-template-rows: repeat(5, auto);
        grid-template-areas:
        "divUno"
        "divDos"
        "divCuatro"
        "divTres"
        "volver";
        text-align: center;
        .divMainTrabajos{
            h2{
                text-align: center;
            }
            p{
                text-align: justify;
            }
            p{
                text-align: justify;
            }
            iframe{
                width: 100%;
            }
        }
    }
    @media screen and (min-width:1025px) and (max-width:1200px){

    }
    @media screen and (min-width:1201px){

    }
}
/*solicitud de trabajos*/

.nuevoClienteMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1.5rem;
    legend{
        text-align: center;
    }
    #labels{
        text-align: end;
        margin-bottom: 2rem;
        div{
            padding: 1rem;
        }
    }
    form{
        fieldset{
            margin: 2rem;
            legend{
                margin: 0.8rem;
                padding: 2rem;
            }
            div{
                margin: 1.5rem;
                background-image: radial-gradient(#8fb2ff, white 73%)
            }
        }
    }
    #detalles{
        margin: 1.5rem;
        text-align: start;
        label{
            align-items: start;
        }
        div{
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
            #det{
                width: 100%;
                height: 5rem;
            }
        }
    }
    #botones{
        width: auto;
        margin: 2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5rem;
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            a{
                color: white;
                text-decoration: none;
                width: 10rem;
            }
        }
    }
    @media screen and (max-width:600px){
        #labels{
            display: flex;
            flex-direction: column;
            align-items: center;
            div{
                form{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
                   
        }
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            fieldset{
                legend{
                    margin-bottom: 1rem;
                    padding: 1rem;
                    text-align: center;
                }
            }
        }
        #botones{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 2rem;
        } 
    }
    @media screen and (min-width:601px) and (max-width:800px){
        #labels{
            display: flex;
            flex-direction: column;
            align-items: center;
            div{
                form{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
                   
        }
        form{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            fieldset{
                legend{
                    margin-bottom: 1rem;
                    padding: 1rem;
                    text-align: center;
                }
            }
        }
        #botones{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 2rem;
        }
    }
    @media screen and (min-width:801px) and (max-width:1024px){

    }
    @media screen and (min-width:1025px) and (max-width:1200px){

    }
    @media screen and (min-width:1201px){

    }
}
/*sobre nosotros*/

.sobreNosotrosMain{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4,auto);
    grid-template-areas: 
    "div1 div1 div2"
    "div3 div4 div4"
    "div5 div5 div6"
    "volver volver volver";
    .divNosMain{
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div{
        justify-content: center;
    }
    #div1{
        grid-area: div1;
        text-align: end;
    }
    #div2{
        grid-area: div2;
    }
    #div3{
        grid-area: div3;
    }
    #div4{
        grid-area: div4;
        text-align: left;
    }
    #div5{
        grid-area: div5;
        text-align: right;
    }
    #div6{
        grid-area: div6;
    }
    #volver1{
        grid-area: volver;
        width: 100%;
        a{
            width: 10rem;
        }
    }
    @media screen and (max-width:600px){
        grid-template-columns: 100%;
            grid-template-rows: repeat(7,auto);
            grid-template-areas: 
            "div1"
            "div2"
            "div4"
            "div3"
            "div5"
            "div6"
            "volver"
            ;
            .divNosMain{
                padding: 0;
                p{
                    text-align: justify;
                }
                p{
                    text-align: justify;
                }
            }
    }
    @media screen and (min-width:601px) and (max-width:800px){
            grid-template-columns: 100%;
            grid-template-rows: repeat(7,auto);
            grid-template-areas: 
            "div1"
            "div2"
            "div4"
            "div3"
            "div5"
            "div6"
            "volver"
            ;
            .divNosMain{
                padding: 0;
                p{
                    text-align: justify;
                }
                p{
                    text-align: justify;
                }
            }
    }
    @media screen and (min-width:801px) and (max-width:1024px){

    }
    @media screen and (min-width:1025px) and (max-width:1200px){

    }
    @media screen and (min-width:1201px){

    }
}

/*footer*/
footer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-image: linear-gradient(to top, #9b9b9b, white);
    color: black;
    .footerContacto{
        padding-left: 0.5rem;
        margin: 0.5rem;
        align-items: center;
        font-weight: bold;
    }
    .footerLista{
        margin: 0.5rem;
        list-style:circle;
        padding-right: 1rem;
        ul{
            padding-inline-start: 1rem;
        }
    }
    .footerTexto{
        margin: 0.5rem;
        font-size: 0.8rem;
        text-align: left;
        spam{
            font-size: 0.95rem;
            font-weight: bold;
        }
    }
    @media screen and (max-width:600px){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @media screen and (min-width:601px) and (max-width:800px){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /*
    @media screen and (min-width:801px) and (max-width:1024px)
    @media screen and (min-width:1025px) and (max-width:1200px)
    @media screen and (min-width:1201px)*/
}
/*otros*/
img{
    border-radius: 1rem;
}