body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
@import "recursos/variables.scss";
@import "recursos/_mixin.scss";
/*menu pantallas pequeñas*/
#menu1{
    transition: 1s;
    h2{ 
        position: fixed;
        margin-bottom: 40%;
        transition: 3s;
        color: transparent;
        margin-left: 2rem;
    }
    #cero{
        @include constructorFlex(flex,column,none,center,end);
        transition: 2s;
        position: fixed;
        background-color: #00000047;
        width: 7rem;
        height: 3rem;
        margin-left: -2rem;
        border-radius: 2rem;
        p{
            color: white;
            margin: 0;
            padding: 1rem;
        }
    }
    .acces{
        transition: 2s;
        text-decoration: none;
        a{
            transition: 0.2s;
            color: transparent;
            text-decoration: none;
        }
    }
    #uno{
        margin-top: 10rem;
    }
    @include constructorFlex(flex,column,flex-start,center,none);
    position: fixed;
    gap: 2rem;
    background-image: linear-gradient(to right, black 5%, transparent 95%);
    height: 100%;
    padding: 0.1rem;
    width: 1rem;
    /*Mobile devices*/
    @media screen and (max-width:600px){
        h2{display: none;}
    }
    /*Small screens/Laptops*/
    @media screen and (min-width:1025px) and (max-width:1200px){
            display: none;
    }
    /*large screens/TV*/
    @media screen and (min-width:1201px){
            display: none;
    }
}
#menu1:hover{
    transition: 1s;
    h2{
        transition: 1s;
        margin-left: 0;
        color: white;
    }
    #cero{
        transition: 2s;
        display: none;
    }
    .acces{
        display:block;
        a{
            transition: 3s;
            transition-delay: 1s;
            color: white;
        }
    }
    @include constructorFlex(flex,column,flex-start,center,none);
    position: fixed;
    gap: 2rem;
    background-color: #0000006e;
    height: 100%;
    padding: 1rem;
    width: 14rem;
}
/*header*/
header{
    @include constructorFlex(flex,column,none,none,none);
    background-image: $fondoHeader;
    color: beige;
    padding: 1rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    .headerDivTitulo{
        text-align: left;
        font-weight: bold;
        #botonesDeAcceso{
            @include constructorFlex(flex,row,center,none,none);
            gap: 0.6rem;
            #titulo1{
                margin-right: auto;
            }
            .logoUno{
                margin-right: 0.5rem;
            }
            .acces{
                @include constructorFlex(flex,column,none,center,center);
                border-color: white;
                transition: 1s;
                width: auto;
                height: 1.5rem;
                border-radius: 1rem;
                padding: 0.2rem;
                a{
                    color: transparent;
                    transition: 1s;
                    color: white;
                    text-decoration: none;
                    font-size: 1rem;
                }
            }
            #uno:hover{
                background-color: $nuestroServicios;
            }
            #dos:hover{
                background-color: $trabajosHechos;
            }
            #tres:hover{
                background-color: $solicitarServicio;
            }
            #cuatro:hover{
                background-color: $sobreNos;
            }
            div{
                h2{
                    font-size: 1.5rem;
                }
            }
        }
    }
    .headerDivDispositivos{
        @include constructorFlex(flex,row,none,flex-end,none);
        flex-wrap: wrap;
        width: 100%;
        p{
            margin-left: 1.5rem;
            margin-bottom: 0;
        }
    }
    .headerDivTexto{
        text-align: left;
        margin: 1rem;
        h2{
            font-size: medium;
            margin-block-end: 0;
        }
        spam{
            font-weight: bold;
        }
    }
    /*Mobile devices*/
    @media screen and (max-width:600px){
        .indexMain{
            padding-left: 2rem;
        }
        .headerDivTitulo{
            text-align: center;
            gap: 1rem;
            #botonesDeAcceso{
                display: none;
            }
        }
        #disp2,#disp3,#disp4,#disp5{
            display: none;
        }
    }
    /*Ipad/tablets*/
    @media screen and (min-width:601px) and (max-width:800px){
        .indexMain{
            padding-left: 2rem;
        }
        .headerDivTitulo{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;
            #botonesDeAcceso{
                display: none;
            }
        }
        #disp1,#disp3,#disp4,#disp5{
            display: none;
        }
    }
    /*Small screens/Laptops*/
    @media screen and (min-width:801px) and (max-width:1024px){
        .indexMain{
            padding-left: 2rem;
        }
        .headerDivTitulo{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 1rem;
            #botonesDeAcceso{
                display: none;
            }
        }
        #disp1,#disp2,#disp4,#disp5{
            display: none;
        }
    }
    /*Desktops*/
    @media screen and (min-width:1025px) and (max-width:1200px){
        #disp1,#disp2,#disp3,#disp5,#menu1{
            display: none;
        }
        .headerDivTitulo{
            .logoDos{
                display: none;
            }
            #titulo2{
                display: none;
            }
            #botonesDeAcceso{
                #titulo1{
                    font-size: 1.8rem;
                }
                .acces{
                    margin-right: 0;
                    margin-left: 1rem;
                    a{
                        font-size: 0.7rem;
                    }
                }
                div{
                    margin-left: 1rem;
                    h2{
                        font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
    /*Large screens/TV*/
    @media screen and (min-width:1201px){
        #disp1,#disp2,#disp3,#disp4,#menu1{
            display: none;
        }
        .headerDivTitulo{
            .logoDos{
                display: none;
            }
            #titulo2{
                display: none;
            }
            #botonesDeAcceso{
                .acces{
                    margin-right: 0;
                    margin-left: 0.5rem;
                }
            }
        }
    }
/*header con grid*/
#headerSobreNos{
    @include nGrid(grid,0,repeat(2,auto),repeat(2,auto));
    @include templateAreas("titulo img" "texto img");
    .headerDivTitulo{
        grid-area: titulo;
    }
    .headerDivTexto{
        grid-area: texto;
    }
    .headerDivImg{
        grid-area: img;
    }
    /*Mobile devices*/
    @media screen and (max-width:600px){
        .headerDivImg{
            display: none;
        }
    }
    /*Ipad/tablets*/
    @media screen and (min-width:601px) and (max-width:800px){
        .headerDivImg{
            display: none;
        }
    }
}
/*mains*/
.indexMain{
    @include constructorFlex(flex,column,none,none,none);
    padding-left: 1.5rem;
    padding: 1rem;
    .divNavIndex{
        @include constructorFlex(flex,row,none,none,none);
        transition: 2s;
        border-color: $gris1;
        border-style: solid;
        border-width: 0.15rem;
        border-radius: 1rem;
        margin-bottom: 1rem;
        div{ 
            width: 70%;
            margin: 1rem;
            spam{
                font-weight: bold;
            }
            div{
                @include constructorFlex(flex,row,none,center,none);
                margin: 1rem;
                width: auto;
                margin-top: 3rem;
            }
        }
        .imgIndex{
            @include constructorFlex(flex,column,center,center,center);
            width: 30%;
        }
    }
    #uno{
        margin-top: 1rem;
    }
    .divNavIndex:hover{
        transition: 1s;
    }
    #uno:hover{
        border-color: $nuestroServicios;
    }
    #dos:hover{
        border-color: $trabajosHechos;
    }
    #tres:hover{
        border-color: $solicitarServicio;
    }
    #cuatro:hover{
        border-color: $sobreNos;
    }
    /*Mobile devices*/
    @media screen and (max-width:600px){
        .divNavIndex{
            div{
                width: auto;
            }
            .imgIndex{
                display: none;
            }
        }
    }
    /*Ipad/Tablet*/
    @media screen and (min-width:601px) and (max-width:800px){
        .Img{
            display: none;
        }
    }
    /*Small screens/Laptops*/
    @media screen and (min-width:801px) and (max-width:1024px){
        .Img{
            display: none;
        }
    }
    /*desktops*/
    @media screen and (min-width:1025px) and (max-width:1200px){
        .Img-p{
            display: none;
        }
    }
    /*Large screens/TV*/
    @media screen and (min-width:1201px){
        .Img-p{
            display: none;
        }
    }
}
/*servicios*/
.serviciosMain{
    @include nGrid(grid,1rem,35% 30% 35%, repeat(5,auto));
    @include templateAreas("d1 d1 d2" "d4 d3 d3" "d5 d5 d6" "d8 d7 d7" "d9 d9 d9");
    align-items: center;
    justify-items: center;
    margin: 1rem;
    .divServMain{
        align-items: center;
        margin: 1rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        }
    #uno{
            grid-area: d1;
            text-align: right;
        }
    #dos{
            grid-area: d2;
        }
    #tres{
            grid-area: d3;
        }
    #cuatro{
            grid-area: d4;
        }
    #cinco{
            grid-area: d5;
            text-align: right;
        }
    #seis{
            grid-area: d6;
        }
    #siete{
            grid-area: d7;
        }
    #ocho{
            grid-area: d8;
        }
    #nueve{
        @include volver1(d9,0,2rem,2rem,10rem);
            a{
                color: white;
                text-decoration: none;
            }
        }
    /*Mobile devices*/
    @media screen and (max-width:600px){
        @include constructorFlex(flex,column,none,none,none);
        h3{
            text-align: center;
        }
        p{
            text-align: justify;
        }
    }
    /*Ipad/tablets*/
    @media screen and (min-width:601px) and (max-width:800px){
        @include constructorFlex(flex,column,none,none,none);
        h3{
            text-align: center;
        }
        p{
            text-align: justify;
        }
    }
}
/*Trabajos*/
.trabajosMain{
    @include nGrid(grid,1rem,repeat(3,auto),repeat(3,auto));
    @include templateAreas("divUno divDos divDos" "divTres divTres divCuatro" "volver volver volver");
    margin: 1rem;
    .divMainTrabajos{
        margin: 1rem;   
    }
    #divUno{
        @include divTrabajos(divUno,flex,column,right,right);
        margin-right: 0;
    }
    #divDos{
        @include divTrabajos(divDos,flex,column,center,center);
    }
    #divTres{
        @include divTrabajos(divTres,flex,column,center,center);
    }
    #divCuatro{
        @include divTrabajos(divCuatro,flex,column,left,left);
        margin-left: 0;
    }
    #Volver{
        @include volver1(volver,auto,2rem,2rem,10rem);
            a{
                color: white;
                text-decoration: none;
            }
    }
    /*Mobile devices*/
    @media screen and (max-width:600px){
        @include nGrid(grid,1rem,100%,repeat(5,auto));
        @include templateAreas("divUno" "divDos" "divCuatro" "divTres" "volver");
        text-align: center;
        .divMainTrabajos{
            h2{
                text-align: center;
            }
            p{
                text-align: justify;
            }
            p{
                text-align: justify;
            }
            iframe{
                width: 100%;
            }
        }
    }
    /*Ipad/tablets*/
    @media screen and (min-width:601px) and (max-width:800px){
        @include nGrid(grid,1rem,100%,repeat(5,auto));
        @include templateAreas("divUno" "divDos" "divCuatro" "divTres" "volver");
        text-align: center;
        .divMainTrabajos{
            h2{
                text-align: center;
            }
            p{
                text-align: justify;
            }
            p{
                text-align: justify;
            }
            iframe{
                width: 100%;
            }
        }
    }
    /*Small screens/Laptops*/
    @media screen and (min-width:801px) and (max-width:1024px){
        @include nGrid(grid,1rem,100%,repeat(5,auto));
        @include templateAreas("divUno" "divDos" "divCuatro" "divTres" "volver");
        text-align: center;
        .divMainTrabajos{
            h2{
                text-align: center;
            }
            p{
                text-align: justify;
            }
            p{
                text-align: justify;
            }
            iframe{
                width: 100%;
            }
        }
    }
}
/*solicitud de trabajos*/
.nuevoClienteMain{
    @include constructorFlex(flex,column,center,none,center);
    margin: 1.5rem;
    legend{
        text-align: center;
    }
    #labels{
        text-align: end;
        margin-bottom: 2rem;
        div{
            padding: 1rem;
        }
    }
    form{
        fieldset{
            margin: 2rem;
            legend{
                margin: 0.8rem;
                padding: 2rem;
            }
            div{
                margin: 1.5rem;
                background-image: radial-gradient(#8fb2ff, white 73%)
            }
        }
    }
    #detalles{
        margin: 1.5rem;
        text-align: start;
        label{
            align-items: start;
        }
        div{
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
            #det{
                width: 100%;
                height: 5rem;
            }
        }
    }
    #botones{
        @include constructorFlex(flex,row,center,none,center);
        width: auto;
        margin: 2rem;
        gap: 5rem;
        div{
            @include constructorFlex(flex,column,none,center,center);
            a{
                color: white;
                text-decoration: none;
                width: 10rem;
            }
        }
    }
    /*Mobile devices*/
    @media screen and (max-width:600px){
        #labels{
            @include constructorFlex(flex,column,center,none,none);
            div{
                form{
                    @include constructorFlex(flex,column,center,none,none);
                }
            }   
        }
        form{
            @include constructorFlex(flex,column,center,none,center);
            fieldset{
                legend{
                    margin-bottom: 1rem;
                    padding: 1rem;
                    text-align: center;
                }
            }
        }
        #botones{
            @include constructorFlex(flex,column,center,none,center);
            gap: 2rem;
        } 
    }
    /*Ipad/tablets*/
    @media screen and (min-width:601px) and (max-width:800px){
        #labels{
            @include constructorFlex(flex,column,center,none,none);
            div{
                form{
                    @include constructorFlex(flex,column,center,none,none);
                }
            }
        }
        form{
            @include constructorFlex(flex,column,center,none,center);
            fieldset{
                legend{
                    margin-bottom: 1rem;
                    padding: 1rem;
                    text-align: center;
                }
            }
        }
        #botones{
            @include constructorFlex(flex,column,center,none,center);
            gap: 2rem;
        }
    }
    @media screen and (min-width:801px) and (max-width:1024px){
        .nuevoClienteMain{
            header{
                .headerDivTitulo{
                    #botonesDeAcceso{
                        #titulo1{
                            font-size: 1.7rem;
                        }
                    }
                }
            }
        }
    }
    @media screen and (min-width:1025px) and (max-width:1200px){
        .nuevoClienteMain{
            header{
                .headerDivTitulo{
                    #botonesDeAcceso{
                        #titulo1{
                            font-size: 1.6rem;
                        }
                    }
                }
            }
        }
    }
    /*Large screens/TV*/
    @media screen and (min-width:1201px){
        .nuevoClienteMain{
            header{
                .headerDivTitulo{
                    #botonesDeAcceso{
                        #titulo1{
                            font-size: 1.7rem;
                        }
                    }
                }
            }
        }
    }

}
/*sobre nosotros*/
.sobreNosotrosMain{
    @include nGrid(grid,0,repeat(3,auto),repeat(4,auto));
    @include templateAreas("div1 div1 div2" "div3 div3 div4" "div5 div5 div6" "volver volver volver");
    .divNosMain{
        @include constructorFlex(flex,column,center,center,none);
        padding: 1rem;
    }
    #uno{
        grid-area: div1;
    }
    #dos{
        grid-area: div2;
    }
    #tres{
        grid-area: div3;
    }
    #cuatro{
        grid-area: div4;
    }
    #cinco{
        grid-area: div5;
    }
    #seis{
        grid-area: div6;
    }
    #volver1{
        @include volver1 (volver,0,0,0,100%);
        a{
            width: 10rem;
        }
    }
    /*Mobile devices*/
    @media screen and (max-width:600px){
        padding: 1rem;
        @include nGrid(grid,1rem,100%,repeat(7,auto));
        @include templateAreas("div1" "div2" "div3" "div4" "div5" "div6" "volver");
        .divNosMain{
            padding: 0;
            p{
                text-align: justify;
            }
            p{
                text-align: justify;
            }
        }
    }
    /*Ipad/tablets*/
    @media screen and (min-width:601px) and (max-width:800px){
        #headerSobreNos{
            .headerDivImg{
                display: none;
            }
        }
        padding: 1rem;
        @include nGrid(grid,1rem,100%,repeat(7,auto));
        @include templateAreas("div1" "div2" "div3" "div4" "div5" "div6" "volver");
            .divNosMain{
                padding: 0;
                p{
                    text-align: justify;
                }
                p{
                    text-align: justify;
                }
            }
    }
}
/*footer*/
footer{
    @include constructorFlex(flex,row,flex-start,none,none);
    background-color: #373737;
    color: white;
    padding: 1rem;
    .footerContacto{
        padding-left: 0.5rem;
        margin: 0.5rem;
        align-items: center;
        font-weight: bold;
    }
    .footerLista{
        margin: 0.5rem;
        list-style:circle;
        padding-right: 1rem;
        ul{
            padding-inline-start: 1rem;
        }
    }
    .footerTexto{
        margin: 0.6rem;
        font-size: 0.8rem;
        text-align: justify;
        spam{
            font-size: 0.95rem;
            font-weight: bold;
        }
    }
    /*Mobile devices*/
    @media screen and (max-width:600px){
        @include constructorFlex(flex,column,center,none,none);
    }
    /*Ipad/tablets*/
    @media screen and (min-width:601px) and (max-width:800px){
        @include constructorFlex(flex,column,center,none,none);
    }
}
img{
    border-radius: 1rem;
}