body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*headers*/
header{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, black 75%, white);
    color: beige;
    padding: 1rem;
    padding-bottom: 2rem;
    .headerDivDispositivos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        p{
            margin-left: 1rem;
        }
    }
    .headerDivTitulo{
        text-align: left;
        font-weight: bold;
    }
    .headerDivTexto{
        text-align: left;
        padding-bottom: 2rem;
        p{
            margin-block-end: 0;
        }
        spam{
            font-weight: bold;
        }
    }
}
/*header con grid*/
#headerSobreNos{
    display: grid;
    grid-template-areas: 
        "titulo img"
        "texto img";
    .headerDivTitulo{
        grid-area: titulo;
    }
    .headerDivTexto{
        grid-area: texto;
    }
    .headerDivImg{
        grid-area: img;
    }
}
/*mains*/
.indexMain{
    padding: 1rem;
    display:flex;
    flex-direction: column;
    #navIndex{
        .divNavIndexUno{
            display: flex;
            flex-direction: row;
            div{
                margin: 1rem;
                spam{
                    font-weight: bold;
                }
                div{
                    padding-left: 40%;
                    padding-top: 1rem;
                }
            }
        }
        .divNavIndexDos{
            display: flex;
            flex-direction: row-reverse;
            div{
                margin: 1rem;
                spam{
                    font-weight: bold;
                }
                div{
                    padding-left: 40%;
                    padding-top: 1rem;
                }
            }
        }
    }
}
    
/*servicios*/
.serviciosMain{
    display: grid;
    align-items: center;
    justify-items: center;
    margin: 1rem;
    gap: 1rem;
    grid-template-columns: 35% 30% 35%;
    grid-template-areas: 
    "d1 d1 d2"
    "d4 d3 d3"
    "d5 d5 d6"
    "d8 d7 d7"
    "d9 d9 d9";

    .divServMain{
        align-items: center;
        margin: 1rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        }
    #uno{
            grid-area: d1;
            text-align: right;
        }
    #dos{
            grid-area: d2;
        }
    #tres{
            grid-area: d3;
        }
    #cuatro{
            grid-area: d4;
        }
    #cinco{
            grid-area: d5;
            text-align: right;
        }
    #seis{
            grid-area: d6;
        }
    #siete{
            grid-area: d7;
        }
    #ocho{
            grid-area: d8;
        }
    #nueve{
            grid-area: d9;
            margin-top: 2rem;
            margin-bottom: 2rem;
            a{
                p{
                    margin: 0.5rem;
                    font-weight: bold;
                    font-size: 1.4rem;
                }
            }
        }
        
    
}

/*footer*/
footer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-image: linear-gradient(to top, #9b9b9b, white);
    color: black;
    .footerContacto{
        padding-left: 0.5rem;
        margin: 0.5rem;
        align-items: center;
        font-weight: bold;

    }
    .footerLista{
        margin: 0.5rem;
        list-style:circle;
        padding-right: 1rem;
        ul{
            padding-inline-start: 1rem;
        }
    }
    .footerTexto{
        margin: 0.5rem;
        font-size: 0.8rem;
        text-align: left;
        spam{
            font-size: 0.95rem;
            font-weight: bold;
        }
    }
}
/*otros*/
img{
    border-radius: 1rem;
}