@mixin volver1($grid-area,$margin,$margin-top,$margin-bottom,$width){
    grid-area: $grid-area;
    margin: $margin;
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;
    width: $width;
}
@mixin divTrabajos($grid-area,$display,$flex-direction,$align-items,$text-align){
    grid-area: $grid-area;
    display: $display;
    flex-direction: $flex-direction;
    align-items: $align-items;
    text-align: $text-align;
}
@mixin nGrid($display,$gap,$grid-template-columns,$grid-template-rows){
    display: $display;
    gap: $gap;
    grid-template-columns: $grid-template-columns;
    grid-template-rows: $grid-template-rows;
}
@mixin templateAreas($grid-template-areas){
    grid-template-areas: $grid-template-areas;
}
@mixin constructorFlex($display,$flex-direction,$align-items,$justify-content,$text-align){
    display: $display;
    flex-direction: $flex-direction;
    align-items: $align-items;
    justify-content: $justify-content;
    text-align: $text-align;
}
@mixin whg($width,$height,$gap){
    width: $width;
    height: $height;
    gap: $gap;
}