//variables
$azul: blue;
$fondoHeader: linear-gradient(to bottom, black 47%, transparent 98%);

$nuestroServicio: #4119d38c;
$nuestroServicio1: #4119d3b3;
$nuestroServicio2: #441cd3d8;
$nuestroServicio3: #4119d3fa;

$nTrabajosHechos4: #09ee2861;

$solicitarServicio:#fbff00cc;

$sobreNos: #ff3c009e;

$gris1: rgb(95, 95, 95);
$footer: linear-gradient(to top, #9b9b9b, white);