//variables
$azul: blue;
$fondoHeader: linear-gradient(to bottom, black 58%, transparent 98%);
$nuestroServicios: #4119d38c;
$trabajosHechos: #09ee2861;
$solicitarServicio:#fbff00cc;
$sobreNos: #ff3c009e;
$gris1: rgb(95, 95, 95);
$footer: linear-gradient(to top, #9b9b9b, white);